.mat-list-item{

float:left;	
}
mat-nav-list.mat-nav-list {
    padding-top: 0px;
}
mat-card-header.mat-card-header {
    padding: 0px 60px;
}
a.listitem.mat-list-item {
  padding: 0px 18px !important;
    height: 80px !important;
    width: 91px !important;
}
.header div{
    margin: 0px 0px !important;
}
.mat-header-cell {
   display:flex;
   justify-content:flex-end;
  }

  .menuitems{

  	list-style: none;
  	float: left;
  }
  .row{
  	width: 100%; 
  }
  .header{
  	padding: 0px;
  }
  .column{
  	text-align: left;
  	padding-left: 2%;
    padding-top: 1%; 
  }
   .listitem:hover {
    background: #b30818;
    color: #fff !important;

  }
  .main-nav{
    float: right;
  }
  li:nth-child(1)  a{
  background: #b30818;
    color: #fff !important;

  }
 mat-card.header.mat-card{
box-shadow: none !important;

}
