.mat-card{
	background:transparent;
}
.step1row{

width: 100%; 	
}
.signin{
	color:red !important;
}
.subtitle{
font-weight: 700; 

}

.step1registration {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.formelement {
  width: 100%;
}
.field_label{

	width: 100%; 
}
.form-control{

	border:none;
	font-weight: 700;
	
}
::placeholder {
    color: #0707073b !important;
}
.form-control:focus{
      box-shadow: 1px 8px 10px #0000001a;
    border-radius: 14px;
    border: 1px solid #00000014;

}
.error-message{
   padding:10px;
   padding-left: 2%; 
   color: red;

}
h5.text-center{
	font-weight: bold; 
}
.subtitle{
text-align: center;
padding-top: 14px; 	
font-size: 13px; 
}
