.mat-card{
	background:transparent;
}
.mat-card-header-text{
    margin: 0px 0px !important;
}
.step1row{

width: 100%; 	
}
.signin{
	color:#b30818 !important;
}


.step1registration {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.formelement {
  width: 100%;
}
.field_label{

	width: 100%; 
  margin-top: 20px;
}
.form-control{
font-size: 14px;
	border:none;
	font-weight: 600;
      float: left;
    width: 100%;
     padding: 25px 15px !important;
         background: #cccccc2e;
    border-radius: 20px;
    -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
	
}
.select_box{

   padding: 10px 10px !important;
    height: 50px;
      
	
}
::placeholder {
    color: #0707073b !important;
    font-size: 14px !important; 
}



.error-message{
     padding: 10px;
    padding-left: 2%;
    color: #b70014;
    font-weight: 700;
    font-style: italic;

}
h5.text-center{
	font-weight: bold; 
}
.subtitle{
text-align: center;
padding-top: 14px; 	
font-size: 14px; 
color:rgba(0, 0, 0, 0.77);
}
 input.submit{
    color: white;
    background: #b70014;
    padding-left: 15%;
    padding-right: 15%;
    height: 50px;
    border-radius: 15px;
    border: none;
  }
  div.submitbutton{
  text-align: center;
    margin-top: 50px;
 }
 .bottom_content{
  margin-top: 50px;
  font-size: 12px;
  line-height: 22px;
 }
 .extra_input{
color: #b70014;
    margin-left: 5px;
    margin-right: 5px;
 }
 .field_sub_level{
  width: 33%; 
  margin-right: 15px;

 }
 .field_sub_level1{
  width: 64%; 

 }
 .form-control[_ngcontent-c2]:focus {
    box-shadow: 0px 2px 14px 2px #0000001a;
    border-radius: 14px;
    padding: 25px 15px;
}
.title_font{font-weight: 700;}
.form_class1{float: left;width: 100%;}
