<div class="container">

  <div class="col-md-offset-3 col-md-6 col-xs-12 col-sm-12 column">


    <div>

      <mat-card-header>

        <mat-card-title>
          <h3 class="text-center title_font">{{ title }}</h3>
        </mat-card-title>
        <mat-card-subtitle class='subtitle'>{{ content }}
          <a class="signin"> sign in here </a>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>

        <form [formGroup]="userAddForm" class='form-group' (ngSubmit)="step1User($event)">
          <div class="form-group form_class1">

            <label class="col-md-12 col-sm-12">

              <input type="text" class="form-control" name="firstName" id="firstName" formControlName="firstName" placeholder="FirstName" />
            </label>
          </div>
          <div class="form-group form_class1">
            <label class="col-md-12 col-sm-12">

              <input type="text" class="form-control" name="lastName" id="lastName" formControlName="lastName" placeholder="LastName" />
            </label>
          </div>
          <div class="form-group form_class1">
            <label class="col-md-12 col-sm-12">

              <input type="text" class="form-control" name="email" id="email" formControlName="email" placeholder="Email" />
            </label>
          </div>
          <div class="form-group form_class1">
            <label class="col-md-3 col-sm-3">

              <input type="text" class="form-control areafield" name="areacode1" id="areacode1" formControlName="areacode1" placeholder="Area Code..." />

            </label>

            <label class="col-md-9 col-sm-9">

              <input type="text" class="form-control areafield" name="areacode2" id="areacode2" formControlName="areacode2" placeholder="Area Code..." />

            </label>
          </div>
          <div class="form-group form_class1">
            <label class="col-md-12 col-sm-12">
              <select class="form-control select_box" name="brand" id="brand" formControlName="brand">
                <option value="Select Brand" disabled>Select Brand</option>
                <option value="Cysec">Cysec</option>
                <option value="Vanuatu">Vanuatu</option>
                <option value="Labuan">Labuan</option>
              </select>
            </label>
          </div>
          <div class="form-group form_class1">
            <label class="col-md-12 col-sm-12">

              <input type="text" class="form-control" name="phone" id="phone" formControlName="phone" placeholder="Phone" />      
            </label>
          </div>
          <div class="form-group form_class1">
            <label class="col-md-12 col-sm-12">

              <input type="text" class="form-control" name="country" id="country" formControlName="country" placeholder="Country" />
            </label>
          </div>
          <div class="form-group form_class1">

            <label class="col-md-12 col-sm-12">

            <input type="text" class="form-control" name="password" id="password" formControlName="password" placeholder="Password" />      
            </label>
          </div>
          <div class="form-group form_class1">
            <div class="submitbutton">
              <input type="submit" class="submit" [disabled]="!userAddForm.valid" value="SUBMIT">
           <!--    <button  type="submit" class="submit" [disabled]="!userAddForm.valid">SUBMIT</button> -->
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="bottom_content">
            <strong>By Clicking this</strong> {{ bottomcontent }} It was popularised in the 1960s
            <a class="extra_input" href="javascript:void(0)">link1content</a>,
            <a class="extra_input" href="javascript:void(0)">link</a>with the release of
            <a class="extra_input" href="javascript:void(0)">link3content</a> Letraset sheets containing Lorem Ipsum passages.

          </div>

        </form>
      </mat-card-content>

    </div>

  </div>

</div>